.navbar{
    background: white;
}
.navbar-toggler:focus{
 outline: none;

}
.navbar-toggler{
  border: none;
}
.style{
    width: 35px;
    margin: 2px;
    margin-left: 15px;
    margin-right: 15px;
    
}
.background{
  background: white;
}